<a href="https://colab.research.google.com/github/Coding-Fusion/Learning-Python/blob/main/Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# prompt: print hello world

print("Hello World")

Hello World

In [6]:
# Python Datatypes

# int, float, complex, str, List, Tuple, Set, Dict
age = 20
print(type(age))

roi = 4.5
print(type(roi))

name = "John"
print(type(name))

# Dynamic Typing

var = 10
print(type(var))

var = 10.5
print(type(var))

var = 1+2j
print(type(var))

var = "John"
print(type(var))

var = True
print(type(var))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>

In [16]:
# Operators
# Arithmatic
a = 100
b = 21

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a//b)

# Assignment

x = 10
x += 5
print(x)
#################
x = 10
x -= 5
print(x)
#################
x = 10
x *= 5
print(x)
#################
x = 10
x /= 5
print(x)
#################
x = 10
x %= 5
print(x)
#################
x = 10
x **= 5
print(x)
#################
x = 10
x //= 5
print(x)
#### Relational Operator ###########
a = 10
b = 20
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(a!=b)

#################

age = 34
name = "John"
print(f"My name is {name} and my age is {age}")
# example of two different type
# print(age<name)

########## Logical Operator ###########
# and, or, not

a = 10
b = 20
c = 30
print(a>b and b>c) # If both True , then give True overall
print(a>b or b<c) #Check if any cond. true. So, overall output will be True
print(not(a>b and b>c)) # Inversion of result condition, If its True, not will inverse that.
#

121
79
2100
4.761904761904762
16
1000000000000000000000000000000000000000000
4
15
5
50
2.0
0
100000
2
False
True
False
True
False
True
My name is John and my age is 34
False
True
True